{% extends "application.html" %}

{% load static %}

{% block title %}IP Based Location{% endblock %}

{% block javascript %}

  <script type="text/javascript"
      src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  <script type="text/javascript">
    function initialize(latitude, longitude) {
      var latlng = new google.maps.LatLng(latitude, longitude);
      var myOptions = {
        zoom: 10,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"),
          myOptions);
    }
  </script>

{% endblock %}

{% block body-tag %}
<body onload="initialize({{location_info.latitude}}, {{location_info.longitude}})">
{% endblock %}

{% block header %}
<div class="main-search-box">
  <img src="{% get_static_prefix %}logo_large.png" class="logo-large" />
  <div class="search-box">
    <form action="/search" method="get" class="search-form">
      {{ search_form }}
      <input type="submit" value="Search" class="search-button">
    </form>
  </div>
</div>
{% endblock %}


{% block content %}

<div id="results-wrapper" class="box-shadow">
  <div id="map-canvas"></div>

  My IP: {{location_info.ipAddress}}

  Country: {{location_info.countryName}}

  Region: {{location_info.regionName}}

  Zip Code: {{location_info.zipCode}}

  Latitude: {{location_info.latitude}}

  Longitude: {{location_info.longitude}}

  Time Zone: {{location_info.timeZone}}
</div>
{% endblock %}