{% extends "application.html" %}

{% load static %}

{% block title %}IP Based Location{% endblock %}

{% block javascript %}

  <script type="text/javascript"
      src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  <script type="text/javascript">
  
      var json_list = {{json_list|safe}};
	var map;
	var markerArray = [];

      var template = '<div class="item"><div class="item-image"><img src="{{item_list.0.galleryURL}}"/></div><div class="item-info"><h2><a href="{{item_list.0.viewItemURL}}">{{item_list.0.title}}</a><br/></h2>Location: {{item_list.0.location}} <br/><br/><b>Current Price: {{item_list.0.sellingStatus.currentPrice.value}} {{item_list.0.sellingStatus.currentPrice.currencyId}} <br/>Time Left: {{item_list.0.sellingStatus.timeLeft}} <br/>Product ID: {{item_list.0.productId}}</b></div></div>';

  
    function initialize(latitude, longitude, countryName)
	{
		var latlng = new google.maps.LatLng({{location_info.latitude}}, longitude);

		var numMarkers = 10;
		var myOptions =
		{
			zoom: 10,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
		map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
	
		for(var i in json_list)
		{
			var markerLatLng = new google.maps.LatLng(latitude+(i/2), longitude);
                
			create_marker(markerLatLng, countryName);
			display_marker(markerArray[i], 
					'<div class="item"><div class="item-image"><img src="' + json_list[i].galleryURL + '"/></div><div class="item-info"><h2><a href="' + json_list[i].viewItemURL + '">' + json_list[i].title + '</a><br/></h2>Location: ' + json_list[i].location + '<br/><br/><b>Current Price:' +  json_list[i].sellingStatus.currentPrice.value + json_list[i].sellingStatus.currentPrice.currencyId + '<br/>Time Left: ' + json_list[i].sellingStatus.timeLeft + '<br/>Product ID:' + json_list[i].productId.toString(10) + '</b></div></div>');
		}

	 }
	 
	 function create_marker(location, city)
	 {
		marker = new google.maps.Marker({
                        position: location,
			map: map,
			title: city
			});
			
		markerArray.push(marker);
	 }

     function display_marker(marker, title)
     {
		var contentString = title;
		var infoWindow = new google.maps.InfoWindow({
            content: contentString
        });
 
        google.maps.event.addListener(marker, 'click', function(){
            infoWindow.open(map, marker)
        });
     }
	 

  </script>

{% endblock %}

{% block body-tag %}
<body onload="initialize({{location_info.latitude}}, {{location_info.longitude}}, '{{location_info.countryName}}' )">
{% endblock %}


{% block content %}
<div class="main-search-box">
  <img src="{% get_static_prefix %}logo_large.png" class="logo-large" />
  <div class="search-box">
    <form action="/search" method="get" class="search-form">
      {{ search_form }}
      <input type="submit" value="Search" class="search-button">
    </form>
  </div>
</div>

<div id="results-wrapper" class="rounded-all">
  <div id="map-canvas"></div>

  My IP: {{location_info.ipAddress}}

  Country: {{location_info.countryName}}

  Region: {{location_info.regionName}}

  Zip Code: {{location_info.zipCode}}

  Latitude: {{location_info.latitude}}

  Longitude: {{location_info.longitude}}

  Time Zone: {{location_info.timeZone}}
</div>
{% endblock %}
