*{ margin:0; padding:0; }

body {
  background: #93a9e9;
  color: #333; 
}

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1, h2, h3, p {
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h1, h2, h3 {
  color: #536895;
}

a { color: #536895; }
a:visited { color: #666; }
a:hover { color: #000; }

li {
  display: block;
  list-style-type: none;
}

#background {
  float: left;
  height: 500px;
  background: #fff url (http://localhost:8000/static/main_bg.png) repeat-x;
}

#page-wrapper {
  padding: 0px;
}

#footer {
}

#main-content {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}


/* Front Page */
.logo-large {
  float: left;
  width: 275px;
}

.search-box {
  float: right;
  margin-top: 40px;
  overflow: margin;
}

.search-input {
  width: 600px;
  font-size: 18px;
  height: 35px;
}

.main-search-box {
  margin: auto;
  height: 100%;
  overflow: auto;
}

.search-box {
  height: 40px;
}

.search-form {
  height: 100%;
}

.search-button {
  height: 100%;
  width: 100px;
}

/* Results */
#results-wrapper {
  background-color: #fff;
  padding: 10px;
}

.results {
  width: 100%;
}

.item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #536895;
  overflow: auto;
  padding: 10px;
}

.item-image  {
  float: left;
  margin-right: 20px;
  min-width: 140px;
}

.item-info {
  overflow: hidden;
}

/* Map */
#map-canvas {
  width: 100%;
  height: 500px;
}

/* Rounded Boxes */

.rounded-all {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3+, Chrome */
          border-radius: 12px; /* Opera 10.5, IE 9 */
}

.box-shadow {
	-moz-box-shadow: 0px 7px 10px #1f1f1f;
  -webkit-box-shadow: 0px 7px 10px #1f1f1f;
  box-shadow: 0px 7px 10px #1f1f1f;
}
