*{ margin:0; padding:0; }

body {
  background: #eeeeee;
  color: #333; 
}

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1, h2, h3, p {
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h1, h2, h3 {
  color: #536895;
}

a { color: #536895; }
a:visited { color: #666; }
a:hover { color: #000; }

li {
  display: block;
  list-style-type: none;
}

#background {
  float: left;
  height: 500px;
  background: #fff url (http://localhost:8000/static/main_bg.png) repeat-x;
}

#page-wrapper {
  padding: 0px;
}

#header {
  background-color: #26466D;
  margin-bottom: 15px;
}

#footer {
  background-color: #26466D;
  min-height: 150px;
}

#main-content {
  height: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
}


/* Front Page */
.logo-large {
  float: left;
  width: 200px;
}

.search-box {
  float: right;
  margin-top: 20px;
  overflow: margin;
}

.search-input {
  width: 600px;
  font-size: 18px;
  height: 35px;
}

.main-search-box {
  width: 1000px;
  height: 100%;
  margin: auto;
  overflow: auto;
}

.search-box {
  height: 40px;
}

.search-form {
  height: 100%;
}

.search-button {
  height: 100%;
  width: 100px;
}

/* Results */
#results-wrapper {
  background-color: #fff;
  padding: 10px;
  width: 1000px;
  margin: 0 auto;
}

.results {
  width: 100%;
}

.item {
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: #536895; 
  overflow: auto;
  padding: 10px;
}

.results .item:hover {
  background-color: #93a9e9;
  color: #eeeeee;
}

.results .item:hover a {
  color: #dddddd;
}

.item-score {
  min-width: 100px;
  float: right;
}

.item-image  {
  float: left;
  margin-right: 20px;
  min-width: 140px;
}

.item-info {
  overflow: hidden;
}

.square {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.small-square {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.high-score {
  background-color: green;
}

.med-score {
  background-color: orange;
}

.low-score {
  background-color: red;
}

.score {
  width: 100px;
  height: 100px;
  padding-top: 40px;
  font-size: 30px;
}

.small-score {
  width: 70px;
  height: 70px;
  padding-top: 25px;
  font-size: 24px;
}

/* Map */
#map-canvas {
  width: 100%;
  height: 500px;
}

/* Rounded Boxes */

.rounded-all {
     -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3+, Chrome */
          border-radius: 5px; /* Opera 10.5, IE 9 */
}

.box-shadow {
	-moz-box-shadow: 0px 0px 10px #1f1f1f;
  -webkit-box-shadow: 0px 0px 10px #1f1f1f;
  box-shadow: 0px 0px 10px #1f1f1f;
}
